button {
    cursor: pointer;
}
.container { 
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; 
    }
    a {
        text-decoration: none;
        display: block; 
        }
    img {
        display: block;
    }
    .container-top {
        display: flex;
    }    
    .top-nav {
        display: flex;
        align-items: center;        
    }
    .contact-nav {
        display: flex;
        gap: 40px;
        color: #404bbf;
    }
.header-top {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    }      
    .link-logotype-top {
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        color: #4D5AE5;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        margin-right: 76px;        
        } 
        .link-logotype-top {
            margin-right: 76px;
        }
 
    .acsent-logo-top {
            color: #2e2f42;
        }
    .link-nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px; 
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 .curent {
    color: #404bbf;
 }
 
 .curent::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px; 
    width: 100%; 
    display: block;
 }

.contacts-top {
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .link-nav-link:hover {
        color: #404bbf;
    }
    .link-nav-link:focus {
        color: #404bbf;
    }
    .link:active {
        color: #404bbf;
    }
    .link {
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header-top {
        justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: var(--white, #fff);  
      }  
      .container-top {
        display: flex;
        justify-content: space-between;
        width: 1158px;
        border-bottom: 1px solid var(--cornflower, #e7e9fc);
        background: var(--white, #fff);
        }
  .upper-nav {
  display: flex;
  align-items: center;
  }  
  .contact-nav {
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

    .contacts {
        font-style: normal;
    }
    .contacts-top {
        display: flex;
        gap: 40px;
    }
    .contacts .link:hover {
        color: #404bbf;
        }
    .contacts .link:focus {
    color: #404bbf;
    }
    .order-button:hover {
        background-color: #404BBF
    }
    .order-button:focus {
        background-color: #404BBF;
    }
    ul {
        list-style-type: none;
        font-style: normal;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        }
.hero {
font-family: Roboto;
weight: Bold;
background-color: #2e2f42;
font-size: 56px;
line-height: 1.07;
letter-spacing: 2%;
line-height: 60px;
padding-top: 188px;
padding-bottom: 188px;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/office-people.jpg);
max-width: 1440px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: 0 auto;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;    
}
.hero-header .order-button {
    text-align: center;
}
.order-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-header {
    max-width: 496px;
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-right: auto; 
    margin-left: auto;
}
.order-button {
        color: #ffffff;
        background-color: #4D5AE5; 
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: auto; 
        margin-left: auto;
    }   
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    } 
    .advantages {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .main-list {
        display: flex;
        gap: 24px;        
    }
.advantages-list {
    font-family: Roboto;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;    
}
.advantages-item {
    list-style-type: none;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    width: calc((100% - 72px) / 4);
}
.advantages-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 0;
}
.advantages-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
    }
.our-team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.our-team-list {
    display: flex;
    gap: 24px;
}
.our-team-member {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    margin: 0; 
    padding-left: 0;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.marking {
    padding-top: 32px;
    padding-bottom: 32px;
}
.icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;    
}
.social-media {
    width: 40px;
    height: 40px;         
}
.media {
    width: 100%; 
    height: 100%;   
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.media:hover {
    background-color: #404bbf;
}
.media:focus {
    background-color: #404bbf;
}
.icon-media {
    fill: #f4f4fd;    
}
.team .team-product {
    text-align: center;
}
.team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
   }
.team-product {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.our-portfolio {
    padding-top: 120px; 
    padding-bottom: 120px; 
}
.our-portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-item:hover .portfolio-text {
    transform: translateY(0%);
}

.portfolio-picture {
    position: relative;
    overflow: hidden;    
}

.portfolio-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-bottom {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-bottom:hover {
    transform: translateY(0%);
}
.our-portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.app-bottom {   
    padding: 32px 16px; 
    border: 1px solid #e7e9fc;
    border-top: none;

}
.banking {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    margin: 0;
}
.app {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
    margin: 0;
}
p {
    margin: 0;
}
h3{
    margin: 0;
}
.footer-app {
    background-color: #2e2f42;
}
.link-logotype{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}
.link-logotype {
    display: inline-block;
    margin: 0;
}
.acsent-logo {
    color: #f4f4fd;
    }
    .footer-web {
        background-color: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;
    }

.subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}

.footer-form {
    gap 24px;
}

.input-area {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    placeholder-color: #ffffff;

}

.submit-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;    
}

.submit-icon {
    margin-left: 16px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 50;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 100;
    margin: 0 auto;
    background-color: #fcfcfc;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

.subscribe-footer {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.subscribe-form {
    display: flex; 
    gap: 24px;   
}

.subscribe-label {
    gap: 24px;    
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    padding-left: 16px; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

placeholder {
    color #ffffff;
}

.order-button-footer {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }

.order-button-footer:hover {
        background-color: #404bbf;
        border: none;
    }
.order-button-footer:focus {
    background-color: #404bbf;
    border: none;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.close-icon:hover {
    fill: #ffffff;
}
.close-icon:focus {
    fill: #ffffff;
}

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em; 
    color: #2E2F42;
    margin-bottom: 16px;
}

.label-form-name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;    
}

.input-name {
    position: relative;    
}

.input-area {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: #4D5AE5;
}

.svg-form {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.svg-form:focus {
    fill: #4D5AE5;
}
.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;    
}

.sub-svg-icon {
    margin-left: 16px;    
}
    .checkbox-icon {
        position: absolute;
        left: 24px;
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        align-items: center;
        justify-content: center;
        fill: transparent;
        cursor: pointer;
        }

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: 0;    
}
.footer-container {
    display: flex;
    align-items: baseline;    
}
.footer-logo {
    margin-right: 120px;    
}
.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-web-list {
    display: flex;
    gap: 16px;    
}

.social-web-item {
    width: 40px;
    height: 40px;   
}

.social-web-item {
    height: 40px;
}

.icon-media-list {
    fill: #f4f4fd;
}
.media-list {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.media-list:hover {
    background-color: #31d0aa;
}

.media-list:focus {
    background-color: #31d0aa;
}